<footer class="footer">
<small>
<a href="https://tenzinchoedak.github.io/">This App created</a>
by <a href="https://tenzinchoedak.github.io/">Tenzin Choedak</a>
</small>

  <nav>
    <ul>
     <li><%= link_to "Contact", contact_path %></li>
     <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
